layout {
    background-color "transparent"

    focus-ring {
        active-color   "#31628d"
        inactive-color "#72777f"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#31628d"
        inactive-color "#72777f"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#31628d"
        inactive-color "#72777f"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#31628d80"
    }
}